*~

*.o
*.hi
*.eventlog

*.snip

*.old

dist

cabal-dev
cabal.sandbox.config
.cabal-sandbox

.stack-work

bingtranslator
bingtranslatorconc
catch-mask
catch-mask2
chan
chan2
chan3
chat
concbench
correcter
crc32/crc32_acc.hs
deadlock1
deadlock2
euler35/euler35
fork
geturls
geturls1
geturls2
geturls3
geturls4
geturls5
geturls6
geturls7
geturls8
geturls9
geturlscancel
geturlscancel2
geturlsfirst
geturlsstm
index/docs
kmeans/GenSamples
kmeans/kmeans
kmeans/kmeans-seq
logger
mandel/mandel
merge.hs
mvar1
mvar2
mvar3
parinfer/parinfer
phonebook
reminders
reminders2
distrib-chat/chat
distrib-db/db
distrib-db/db2
distrib-db/db4
distrib-ping/ping
distrib-ping/ping-fail
distrib-ping/ping-multi
distrib-ping/ping-tc
server
server2
sudoku-par1
sudoku-par2
sudoku-par3
sudoku-par4
sudoku1
sudoku2
sudoku3
sudoku4
sudoku5
threadperf1
threadperf2
timeout
